:root {
  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey: hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: var(--offwhite);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 3.2rem;
  border: none;
  border-radius: 5px;
  outline: 1px solid var(--lightgrey);
  padding: 1rem 2rem;
  width: 14rem;
  font-weight: 700;
}
input:focus {
  outline: 1px solid var(--purple);
}

label {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--smokeygrey);
  margin-bottom: 1rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 25px;
  border-bottom-right-radius: 50%;
  padding: 4rem;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 3rem;
  border-bottom: 2px solid var(--lightgrey);
  padding-bottom: 3rem;
  position: relative;
}
.inputs-day, .inputs-month, .inputs-year {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-left: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  transform: translateY(100%);
  border: none;
  background-color: var(--offblack);
  cursor: pointer;
}

.calculated {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-weight: 900;
}
.calculated-years, .calculated-months, .calculated-days {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.calculated-years--result, .calculated-months--result, .calculated-days--result {
  font-size: 8rem;
  color: var(--purple);
}
.calculated-years--description, .calculated-months--description, .calculated-days--description {
  font-size: 6.4rem;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 900;
}